@use "breakpoints" as *;

.preloader-container {
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-preloader);

  .preloader-card {
    position: relative;
    width: 300px;
    height: 400px;
    overflow: hidden;

    .image-wrapper {
      position: absolute;
      inset: 0;
      clip-path: inset(100% 0 0 0);
      visibility: hidden;
      width: 100%;
      height: 100%;

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .preloader-card-overlay {
      opacity: 0;
      background-color: var(--bg-primary);
      z-index: 99;
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
}

